.SideBar > .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.SideBar {
    height: 100%;
}

a {
    text-decoration: none;
}

