.spread-container {
    border: none;
    position: relative;
    display: flex;
    min-height: 600px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(300deg, rgb(9, 53, 9), green);
    overflow-y: auto;
}

.tarot-deck-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 15px;
    min-height: 400px;
    overflow-y: auto;
    background-color: green;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: rgb(2, 31, 2);
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    filter: drop-shadow(0 0 5px lightgreen);
}

.card-container-1 {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.small-card {
    border-radius: 9px;
    width: 100px;
}

.card-container-1:hover {
    scale: 1;
    z-index: 100;
}

.card {
    height: 130px;
    box-shadow: 2px 2px 5px black;
    transition: all 0.5s;
    border-radius: 7px;
}

.card:hover {
    scale: 1.05;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    z-index: 100;
}

.card-container-1 {
    position: absolute;
    right: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.card-container-1:hover {
    scale: 1;
    z-index: 100;
}

.card-container-2 {
    position: absolute;
    right: 50%;
    top: 40%;
}

.card-container-3 {
    position: absolute;
    right: 35%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.card-container-4 {
    position: absolute;
    right: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
}

.card-container-5 {
    position: absolute;
    right: 65%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.card-container-6 {
    position: absolute;
    right: 50%;
    top: 80px;
    transform: translate(-50%, -50%);
}

.card-container-7 {
    position: absolute;
    right: 10%;
    top: 81%;
    transform: translate(-50%, -50%);
}

.card-container-8 {
    position: absolute;
    right: 10%;
    top: 58%;
    transform: translate(-50%, -50%);
}

.card-container-9 {
    position: absolute;
    right: 10%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.card-container-10 {
    position: absolute;
    right: 10%;
    top: 12%;
    transform: translate(-50%, -50%);
}
