.spread-header-container {
    background: linear-gradient(300deg, rgb(9, 53, 9), midnightblue);
    text-align: center;

}

.spread-header-container button {
    border: none;
    background-color: midnightblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}