.spread-container {
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    display: flex;
    min-height: 600px;
    width: 700px;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
    background: linear-gradient(300deg, rgb(9, 53, 9), green);
}

.heading {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: top;
    color: rgb(2, 31, 2);
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    filter: drop-shadow(0 0 5px lightgreen);
}

.card-container-1 {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.card-container-1:hover {
    scale: 1;
    z-index: 100;
}

.card {
    height: 100px;
    box-shadow: 2px 10px 10px black;
    transition: all 0.5s;
}

.card:hover {
    scale: 1.2;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
}

.card-container-1 {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.card-container-1:hover {
    scale: 1;
    z-index: 100;
}

.card-container-2 {
    position: absolute;
    right: 50%;
    top: 50%;
}

.card-container-3 {
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-container-4 {
    position: absolute;
    right: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}

.card-container-5 {
    position: absolute;
    right: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-container-6 {
    position: absolute;
    right: 50%;
    bottom: 63%;
    transform: translate(-50%, -50%);
}

.card-container-7 {
    position: absolute;
    right: 10%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.card-container-8 {
    position: absolute;
    right: 10%;
    bottom: 20%;
    transform: translate(-50%, -50%);
}

.card-container-9 {
    position: absolute;
    right: 10%;
    bottom: 40%;
    transform: translate(-50%, -50%);
}

.card-container-10 {
    position: absolute;
    right: 10%;
    bottom: 60%;
    transform: translate(-50%, -50%);
}