.Main {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.tarot-deck-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 24px ;
    min-height: 400px;
    overflow-y: auto;
    background-color: green;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

