* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.App {
    overflow: hidden;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    border: 1px solid black;
    background: url('assets/images/tarot-app-background-img.jpg') center bottom / cover no-repeat;
    min-height: 20vh;       /* responsive option */
}

section {
    display: flex;
    height: 85vh;
    border: 1px solid black;
}

.side-bar {
    width: 15%;
    height: 100%;
    border: 1px solid black;
}

main {
    width: 85%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}




