* {
    box-sizing: border-box;
}

.App {
    overflow: hidden;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    border: 1px solid black;
}

section {
    display: flex;
    height: 85vh;
    border: 1px solid black;
}

.side-bar {
    width: 10%;
    height: 100%;
    border: 1px solid black;
}

main {
    width: 90%;
    height: 100%;
    border: 1px solid black;
}
